fastapi==0.110.0
uvicorn[standard]==0.27.1

pydantic==2.6.1
pydantic_core==2.16.2

qdrant-client==1.11.3

sentence-transformers==2.6.1

pandas==2.2.3
pdfplumber==0.10.4
openpyxl==3.1.5

python-dotenv==1.0.1
python-multipart==0.0.7
requests==2.31.0
